**.suo
**.orig
**.swp
**/bin/
**/obj/
**custom.config
**custom.*.config
**/App_Data/
**/Logs/
**/log/
**/packages/
**trace.txt
***.log
***.suo
***.aps
***.eto
***.user
***.swf
**credlyLog.txt
***credlyLog.txt
.vs


