**.suo
**.orig
**.swp
**/bin/
**/obj/
**custom.config
**custom.*.config
**/App_Data/
**/Logs/
**/log/
**/packages/
**trace.txt
***.log
***.suo
***.aps
***.eto
***.user
***.swf
***nuget
**credlyLog.txt
***credlyLog.txt
***launch.json
***config.json
***.vscode/launch.json
***launchSettings.json
.vs
src/Core/publish/

